<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2019-04-01T23:28:56Z</date>
		<key>amount</key>
		<real>4.19</real>
		<key>expensedescription</key>
		<string>Venti Americano at Starbucks</string>
		<key>expenseid</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-04-02T04:00:00Z</date>
		<key>amount</key>
		<real>29.99</real>
		<key>expensedescription</key>
		<string>Buffet Dinner</string>
		<key>expenseid</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
